{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
      "ConfigThemeMods.php"
    ]
  },
  "logs": {
    "text": "php://stdout",
    "stryker": {
      "badge": "/^master.*$/"
    }
  },
  "timeout": 10,
  "mutators": {
    "@default": true
  },
  "testFramework": "codeception",
  "testFrameworkOptions": "--skip=wpunit --skip=acceptance --skip=functional"
}